* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1px) {
  * {
    margin: 120;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  padding: 70px 70px 24px 70px;
  background-image: url(./img/carnefundo.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Righteous', cursive;
  color: #8e4106;
  font-size: large;
  overflow: hidden;



}
.maintext {
  /* NOSSOS NOVOS KITS DE CHURRASCO PARA CURTIR COM A GALERA */

  position: absolute;
  width: 407px;
  height: 187px;
  left: 190px;
  top: 367px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  /* or 107% */

  color: #AB905A;


}

@media (max-width: 900px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  body {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    background-image: url(./img/carnefundo-ipad.png);
    background-size: 80vh;
    background-repeat: no-repeat;
    font-family: 'Righteous', cursive;
    color: #8e4106;
    font-size: large;
    position: fixed;
    overflow: hidden;
  }


}


header {
  width: 100vw;
  height: 7.5vh;
  background-color: #242323;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.maintext {
  /* NOSSOS NOVOS KITS DE CHURRASCO PARA CURTIR COM A GALERA */

  position: absolute;
  width: 407px;
  height: 187px;
  left: 190px;
  top: 367px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  /* or 107% */

  color: #AB905A;


}


@media (max-width: 900px) {
  header {
    width: 100vw;
    height: 10vh;
    background-color: #242323;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    display: flex;
    grid-template-rows: 100px 1fr 50px;
    background-image: url(./img/carnefundo-ipad.png);
    background-size: 80vh;
    background-repeat: no-repeat;
    font-family: 'Righteous', cursive;
    color: #8e4106;
    font-size: large;
    position: relative;
    overflow: hidden;

  }


  header {
    display: flex;
    width: 100vw;
    height: 11vh;
    background-color: #242323;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
  }

  .logao {
    display: absolute;
    width: 15rem;
    height: 12.56rem;
    position: relative;
    top: -2.10rem;
    left: -30px;
  }

}

.logo {

  position: absolute;
  top: 0px;
}

.logao {
  width: 16rem;
  height: 12.56rem;
  position: absolute;
  top: -2.10rem;
  left: 0.10rem;

}

@media (max-width: 900px) {
  .logao {
    width: 16rem;
    height: 12.56rem;
    position: absolute;
    top: -2.10rem;
    left: -3vh;

  }
}

@media (max-width: 600px) {
  .logao {
    width: 176px;
    height: 170px;
    position: relative;
    top: -2.10rem;
    left: -30px;

  }
}


.kits {
  position: absolute;
  width: 34.19rem;
  height: 0.94rem;
  left: 15rem;
  top: 1.56rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.94rem;
  letter-spacing: 0.02em;
  color: #767574;
}

@media (max-width: 900px) {
  .kits {
    display: block;
    position: absolute;
    left: 17.4vh;
    top: 6.5vw;
    width: 34.19rem;
    height: 1rem;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    font-size: 1rem;
    line-height: 0.94rem;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}

.seta1 {
  position: absolute;
  left: 17.5rem;
  top: 1.92rem;
}

@media (max-width: 600px) {
  .kits {
    display: none;
    position: absolute;
    left: 180px;
    top: 50px;
    width: 34.19rem;
    height: 1rem;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    font-size: 1rem;
    line-height: 0.94rem;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}

.seta1 {
  position: absolute;
  left: 17.5rem;
  top: 1.92rem;
}



@media (max-width: 900px) {

  .seta1 {
    display: none;
    position: absolute;
    left: 17.5rem;
    top: 1.92rem;

  }
}

.bovinos {
  position: absolute;
  width: 34.19rem;
  height: 0.94rem;
  left: 19.75rem;
  top: 1.56rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.94rem;
  letter-spacing: 0.02em;
  color: #767574;
}

@media (max-width: 900px) {
  .bovinos {
    display: block;
    position: absolute;
    left: 21.7vh;
    top: 6.5vw;
    width: 34.19rem;
    height: 1rem;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    font-size: 1rem;
    line-height: 0.94rem;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}

@media (max-width: 600px) {
  .bovinos {
    display: none;
    position: absolute;
    left: 220px;
    top: 50px;
    width: 34.19rem;
    height: 1rem;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    font-size: 1rem;
    line-height: 0.94rem;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}

.hamburgeres {
  position: absolute;
  width: 34.19rem;
  height: 0.94rem;
  left: 26.13rem;
  top: 1.56rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.94rem;
  letter-spacing: 0.02em;
  color: #767574;
}

@media (max-width: 900px) {
  .hamburgeres {
    display: block;
    position: absolute;
    left: 28.4vh;
    top: 6.5vw;
    width: 34.19rem;
    height: 1rem;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    font-size: 1rem;
    line-height: 0.94rem;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}

@media (max-width: 600px) {
  .hamburgeres {
    display: none;
    position: absolute;
    left: 290px;
    top: 50px;
    width: 34.19rem;
    height: 1rem;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 800;
    font-size: 1rem;
    line-height: 0.94rem;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}

.wagyu {
  position: absolute;
  width: 34.19rem;
  height: 0.94rem;
  left: 35rem;
  top: 1.56rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.94rem;
  letter-spacing: 0.02em;
  color: #767574;
}

@media (max-width: 900px) {
  .wagyu {
    display: none;
    position: absolute;
    width: 34.19rem;
    height: 0.94rem;
    left: 35rem;
    top: 1.56rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 0.94rem;
    letter-spacing: 0.02em;
    color: #767574;
  }
}


.dia-a-dia {
  position: absolute;
  width: 34.19rem;
  height: 0.94rem;
  left: 39.8rem;
  top: 1.56rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.94rem;
  letter-spacing: 0.02em;
  color: #767574;
}

@media (max-width: 900px) {
  .dia-a-dia {
    display: none;
    position: absolute;
    width: 34.19rem;
    height: 0.94rem;
    left: 39.8rem;
    top: 1.56rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 0.94rem;
    letter-spacing: 0.02em;
    color: #767574;
  }
}

.seta2 {
  position: absolute;
  left: 44.6rem;
  top: 1.9rem;
}

@media (max-width: 900px) {
  .seta2 {
    display: none;
    position: absolute;
    left: 44.6rem;
    top: 1.9rem;
  }
}

.superbox {
  position: absolute;
  width: 34.19rem;
  height: 0.94rem;
  left: 46.5rem;
  top: 1.56rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.94rem;
  letter-spacing: 0.02em;
  color: #eeeeee;
}

@media (max-width: 900px) {
  .superbox {
    display: none;
    position: absolute;
    width: 34.19rem;
    height: 0.94rem;
    left: 46.5rem;
    top: 1.56rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 0.94rem;
    letter-spacing: 0.02em;
    color: #eeeeee;
  }
}

.outros {
  position: absolute;
  width: 34.19rem;
  height: 0.94rem;
  left: 52.8rem;
  top: 1.56rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.94rem;
  letter-spacing: 0.02em;
  color: #eeeeee;
}

@media (max-width: 900px) {
  .outros {
    display: none;
    position: absolute;
    width: 34.19rem;
    height: 0.94rem;
    left: 52.8rem;
    top: 1.56rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 0.94rem;
    letter-spacing: 0.02em;
    color: #eeeeee;
  }
}

.superofertas {
  position: absolute;
  width: 34.19rem;
  height: 0.94rem;
  left: 58.38rem;
  top: 1.56rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.94rem;
  letter-spacing: 0.02rem;
  color: #C51615;
}

@media (max-width: 900px) {
  .superofertas {
    display: none;
    position: absolute;
    width: 34.19rem;
    height: 0.94rem;
    left: 58.38rem;
    top: 1.56rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 0.94rem;
    letter-spacing: 0.02rem;
    color: #C51615;
  }
}



.caixadebusca {

  position: absolute;
  width: 15.375rem;
  height: 1.9375rem;
  left: 68.8125rem;
  top: 1.1625rem;

  background: #313031;

}

.mais {
  display: none;
}

@media (max-width: 900px) {
  .mais {
    position: absolute;
    display: block;
    left: 11vh;
    top: -.1vw;
  }
}


.login {
  display: none;
  position: absolute;
  width: 6.875vw;
  height: 1.625vh;
  left: 92.125vh;
  top: 1.225rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.9375rem;
  text-align: center;
  color: #898889;
}

.login span {
  white-space: nowrap;
}

.account-ipad {
  display: none;
}

@media (max-width: 900px) {
  .account-ipad {
    display: block;
    position: absolute;
    left: 57.6vh;
    width: 4vw;
    height: 3.4vh;
    top: 3.5vw;

  }
}

@media (max-width: 600px) {
  .account-ipad {
    display: block;
    position: absolute;
    left: 118px;
    width: 30px;
    height: 25px;
    top: 29px;
  }
}

.account {
  display: none;
}

@media (max-width: 900px) {
  .account {
    position: absolute;
    display: block;
    left: 56.6vh;
    width: 6.4vw;
    height: 14vh;
    top: -3vw;
  }
}

@media (max-width: 600px) {
  .account {
    display: block;
    position: absolute;
    display: block;
    left: 110px;
    width: 41px;
    height: 147.24px;
    top: -25.64px;
  }
}


.seta5 {
  display: none;
}

@media (max-width: 900px) {
  .seta5 {
    display: block;
    position: absolute;
    left: 58.8vh;
    top: 10vw;
  }
}


.insta {

  position: absolute;
  width: 2.3125rem;
  height: 1.8125rem;
  left: 105rem;
  top: 1.4rem;

}

@media (max-width: 900px) {
  .insta {

    position: absolute;
    width: 2.3125rem;
    height: 1.8125rem;
    left: 63.2vh;
    top: 7vw;
    z-index: 2;

  }
}

.wpp {
  /* whatsapp */
  position: absolute;
  width: 1.5625rem;
  height: 1.5rem;
  left: 63vh;
  top: 10vw;
}

@media (max-width: 600px) {
  .insta {

    position: absolute;
    width: 2.3125rem;
    height: 1.8125rem;
    left: 160px;
    top: 46px;
    z-index: 2;

  }
}

.wpp {
  /* whatsapp */
  position: absolute;
  width: 1.5625rem;
  height: 1.5rem;
  left: 107.75rem;
  top: 1.4rem;
}

@media (max-width: 900px) {
  .wpp {
    /* whatsapp */

    position: absolute;
    width: 4vw;
    height: 2.7vh;
    left: 63.6vh;
    top: 1.7vw;
    z-index: 2;

  }
}

@media (max-width: 600px) {
  .wpp {
    /* whatsapp */

    position: absolute;
    width: 28px;
    height: 26px;
    left: 165px;
    top: 13px;
    z-index: 2;

  }
}


.social {
  display: none;
}

@media (max-width: 900px) {
  .social {
    position: absolute;
    display: block;
    left: 62.6vh;
    width: 6.4vw;
    height: 147.24px;
    top: -25.64px;
  }
}

@media (max-width: 600px) {
  .social {
    position: absolute;
    display: block;
    left: 157px;
    width: 41px;
    height: 147.24px;
    top: -25.64px;
  }
}




.buy {
  /* Retangulo compra */

  position: absolute;
  width: 3.21875rem;
  height: 9.2025rem;
  left: 111.21875rem;
  top: -1.6025rem;

}



@media (max-width: 900px) {
  .buy {
    /* Retangulo compra */

    left: 68.5vh;
    width: 6.4vw;
    height: 15vh;
    top: -25.64px;
  }
}

@media (max-width: 600px) {
  .buy {
    /* Retangulo compra */

    left: 205px;
    width: 41px;
    height: 147.24px;
    top: -25.64px;
  }
}


.carrinho {
  position: absolute;
  width: 1.25rem;
  height: 1.3125rem;
  left: 112.125rem;
  top: 2rem;
}

@media (max-width: 900px) {
  .carrinho {
    position: absolute;
    width: 1.25rem;
    height: 1.3125rem;
    left: 69.7vh;
    top: 2rem;
  }
}

@media (max-width: 600px) {
  .carrinho {
    position: absolute;
    width: 1.25rem;
    height: 1.3125rem;
    left: 214px;
    top: 2rem;
  }
}

.lupa-iphone {
  display: none;
}

@media (max-width: 600px) {
  .lupa-iphone {
    display: flex;
    position: absolute;
    left: 264px;
    width: 14vw;
    height: 17vh;
    top: -15px
  }
}

.hamburguer-iphone {
  display: none;

}

@media (max-width: 600px) {
  .hamburguer-iphone {
    display: block;
    position: absolute;
    top: 110px;
    left: 10px;
    height: 40px;
  }
}

.seta3 {
  position: absolute;
  left: 112.62rem;
  top: 4.5rem;
}

@media (max-width: 900px) {
  .seta3 {
    position: absolute;
    left: 70.4vh;

  }
}


.busca-ipad {
  display: none;
}

@media (max-width: 900px) {
  .busca-ipad {
    display: block;
    position: absolute;
    top: 5vw;
    width: 16vw;
    left: 43vh;
    z-index: 2;
  }
}

.extras {

  position: absolute;
  width: 965px;
  height: 80px;
  left: 446px;
  top: 791px;
  border-radius: 20px;

}

@media (max-width: 900px) {
  .extras {
    display: none;
  }
}

.extras-ipad {
  display: none;
}

@media (max-width: 900px) {
  .extras-ipad {
    display: block;
    position: absolute;
    width: 593px;
    height: 68px;
    left: 23px;
    top: 785px;
    border-radius: 20px;
  }
}

@media (max-width: 600px) {
  .extras-ipad {
    display: none;
    position: absolute;
    width: 593px;
    height: 68px;
    left: 23px;
    top: 785px;
    border-radius: 20px;
  }
}

.conheca {


  position: absolute;
  width: 200px;
  height: 400px;
  left: 193px;
  top: 183px;

  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 32px;


  color: #FFFFFF;


}

@media (max-width: 900px) {
  .conheca {


    position: absolute;
    width: 200px;
    height: 400px;
    left: 27px;
    top: 370px;

    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 32px;


    color: #FFFFFF;


  }

}

@media (max-width: 600px) {
  .busca-ipad {
    display: none;
    position: absolute;
    top: 5vw;
    width: 16vw;
    left: 43vh;
    z-index: 2;
  }

  .conheca {


    position: absolute;
    width: 44vw;
    height: 10vh;
    left: 27px;
    top: 90vw;

    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    font-size: 80vh;
    line-height: 5vh;


    color: #FFFFFF;


  }

}

@media (max-width: 900px) {
  .maintext {
    /* NOSSOS NOVOS KITS DE CHURRASCO PARA CURTIR COM A GALERA */

    position: absolute;
    width: 407px;
    height: 187px;
    left: 27px;
    top: 550px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    /* or 107% */

    color: #AB905A;


  }

  @media (max-width: 600px) {
    .maintext {
      /* NOSSOS NOVOS KITS DE CHURRASCO PARA CURTIR COM A GALERA */

      position:-ms-page;
      width: 65vw;
      height: 30vh;
      left: 5vh;
      top: 86.5vw;


      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 3vh;
      line-height: 32px;
      /* or 107% */

      color: #AB905A;
    }
  }

  footer {
    display: none;
  }
}