*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    padding: 70px 70px 24px 70px;
    background-image: url(./img/carnefundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Righteous', cursive;
    color: #8e4106;
    font-size: large;
    }

    header{
        width: 100vw;
        height: 7.5vh;
  background-color: #242323;
  display: flex; align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  
    }

.logo{
    position: absolute;
    top: 0;
}

.logao{
    width: 12.75rem;
    height: 12.56rem;
    position: absolute;
    top: -2.10rem;
    left: 3rem;

}

.kits{
    position: absolute;
    width: 547px;
    height: 15px;
    left: 240px;
    top: 25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12.5px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #767574;

}

.bovinos{
    position: absolute;
    width: 547px;
    height: 15px;
    left: 300px;
    top: 25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12.5px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #767574;

}
.hamburgeres{
    position: absolute;
    width: 547px;
    height: 15px;
    left: 370px;
    top: 25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12.5px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #767574;
}
.wagyu{
    position: absolute;
    width: 547px;
    height: 15px;
    left: 480px;
    top: 25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12.5px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #767574;
}
.dia-a-dia{
    position: absolute;
    width: 547px;
    height: 15px;
    left: 545px;
    top: 25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12.5px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #767574;
}
.superbox{
    position: absolute;
    width: 547px;
    height: 15px;
    left: 630px;
    top: 25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12.5px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #767574;
}
.outros{
    position: absolute;
    width: 547px;
    height: 15px;
    left: 710px;
    top: 25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12.5px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #eeeeee;

}
.superofertas{
    position: absolute;
    width: 547px;
    height: 15px;
    left: 780px;
    top: 25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12.5px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #eeeeee;
}